.private-content-container{
   border: 0;
   background: none;
   border-radius: 0;
}

.private-content-top{
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   -moz-border-radius-topleft: 8px;
   -moz-border-radius-topright: 8px;
   -webkit-border-top-left-radius: 8px;
   -webkit-border-top-right-radius: 8px;
}

.private-content{
   background: #00000 none repeat scroll 0 0;
   border: 1px solid #555555;
   overflow: hidden;
}

.private-content-header{
   color: #e8e8e8;
   background-color: #891518;

   line-height: 2;
   text-align: center;
   padding: 0 12px;
   font-weight: bold;
} 

.private-content-body{
   padding:10px;

   border-top: none;
   border-bottom: 1px solid #555555;
   border-left: 1px solid #555555;
   border-right: 1px solid #555555;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   -moz-border-radius-bottomleft: 8px;
   -moz-border-radius-bottomright: 8px;
   -webkit-border-bottom-left-radius: 8px;
   -webkit-border-bottom-right-radius: 8px;
}
