/* Station Status Navigation Box Styles */
.etms-station-status-container{
   border: 0;
   background: none;
   border-radius: 0;
}

.etms-station-status{
   background: #e8e8e8 none repeat scroll 0 0;
   border-style: solid;
   border-width: 1px;
   overflow: hidden;
}

.etms-station-status-header{
   line-height: 2;
   text-align: center;
   padding: 0 12px;
   font-weight: bold;
}

.etms-station-status-top{
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   -moz-border-radius-topleft: 8px;
   -moz-border-radius-topright: 8px;
   -webkit-border-top-left-radius: 8px;
   -webkit-border-top-right-radius: 8px;
}

.etms-station-status-container .etms-station-status-header a,
.etms-station-status-container .etms-station-status-header a:link,
.etms-station-status-container .etms-station-status-header a:active,
.etms-station-status-container .etms-station-status-header a:visited,
.etms-station-status-container .etms-station-status-header a:hover {
   color: #e8e8e8;
}

.etms-station-status-container .etms-station-status-header a:hover{
   text-decoration: underline;
}

.etms-station-status-container .etms-station-status-body a,
.etms-station-status-container .etms-station-status-body a:link,
.etms-station-status-container .etms-station-status-body a:active,
.etms-station-status-container .etms-station-status-body a:visited,
.etms-station-status-container .etms-station-status-body a:hover {
   color: #555555;
}

.etms-station-status-container .etms-station-status-body a:hover{
   text-decoration: underline;
}

.etms-station-status-body{
   font-size:.95em
   text-align:left;
   padding:10px;

   border-top: none;
   border-bottom: 1px solid #555555;
   border-left: 1px solid #555555;
   border-right: 1px solid #555555;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   -moz-border-radius-bottomleft: 8px;
   -moz-border-radius-bottomright: 8px;
   -webkit-border-bottom-left-radius: 8px;
   -webkit-border-bottom-right-radius: 8px;
}

.etms-station-status-keysight-dark-red{
   border: 1px solid #555555;
}
.etms-station-status-keysight-dark-red-header{
   color: #e8e8e8;
   background-color: #891518;
}
.etms-station-status-keysight-dark-red-body{
   color: #000000;
   background-color: #e8e8e8;
}

.etms-station-status-keysight-dark-gray{
   border: 1px solid #343434;
}
.etms-station-status-keysight-dark-gray-header{
   color: #e8e8e8;
   background-color: #343434;
}
.etms-station-status-keysight-dark-gray-body{
   color: #000000;
   background-color: #e8e8e8;
}

.etms-station-status-keysight-gray{
   border: 1px solid #555555;
}
.etms-station-status-keysight-gray-header{
   color: #e8e8e8;
   background-color: #555555;
}
.etms-station-status-keysight-gray-body{
   color: #000000;
   background-color: #e8e8e8;
}
