<h3>Introduction</h3>

<p>The Anonymous Only Block will show the body of the macro only if the
current user is the user <b>Anonymous</b>.  If a person is viewing pages
but has not logged in, they are acting as the user <b>Anonymous</b>.
The normal use case is to provide some text indicating that a user is
presently not logged in and to direct them to log in.  This is useful in
situations where people are asked to like a page or leave a comment, but
get confused because they do not realize they are not logged in and
therefore cannot see those gui controls for those actions.</p>

<h3>Parameters</h3>
<p>This macro has no parameters</p>
