<h3>Introduction</h3>

<p>This macro renders meta-information about the page</p>

<h3>Parameters</h3>
<p><strong>Include Descriptive Text</strong>: If checked, the information is presented in a sentence.</p>
<p><strong>List Representation</strong>: One of Unordered List, New Line or Comma Separated</p>
<p><strong>Include Page ID</strong>: If checked, the page ID is included.</p>
<p><strong>Include Original Author</strong>: If checked, the original author is included.</p>
<p><strong>Include Most Recent Author</strong>: If checked, the author of the most recent change is included.</p>
<p><strong>Include Creation Date</strong>: If checked, the creation date is included.</p>
<p><strong>Include Last Modification Date</strong>: If checked, the last modification date is included.</p>

<h3>Wiki Syntax</h3>
<p>{page-info:include-descriptive-text=true|list-representation=Unordered List...}</p>
<ul>
   <li>include-descriptive-text = true|false</li>
   <li>list-representation = Comma Separated|New Line|Unordered List</li>
   <li>include-page-id = true|false</li>
   <li>include-original-author = true|false</li>
   <li>include-creation-date = true|false</li>
   <li>include-latest-author = true|false</li>
   <li>include-last-modification-date = true|false</li>
</ul>
