#set( $images = "${webResourceHelper.getStaticResourcePrefix()}/download/resources/com.keysight.plugins.confluence.include-content:include-content-resources/images" )
#set( $igeLogo = "$images/ige-48x20.png" )

<html>
  <head>
    <title>$i18n.getText("include-content.admin.title")</title>
    <meta name="decorator" content="atl.admin">
    $webResourceManager.requireResource("com.keysight.include-content:include-content-admin-resources")
  </head>
  <body>
    <h2>Code Include Settings</h2>
    <p>The web accessible code may require a user and password to view.  These fields provide the ability
    to set credentials by the base url.  If the url specified here matches the start of the url in the code
    include macro, then the credentials set here will be passed along with the request.</p>
    <form id="include-content-admin" class="aui">
       <div id="credentials-body"></div>
       <div class="field-group">
         <input id="code-include-add-credentials" type="submit" value="$i18n.getText('include-content.admin.add')" class="button">
         <input type="submit" value="$i18n.getText('include-content.admin.save')" class="button">
       </div>
    </form>
  </body>
</html>
