#if($textAsHtml)
   <a href="#" onclick="keysightHelpText.showAsDialogBox( event, '$sectionId' );">$textAsHtml</a>
#else
   <a href="#" onclick="keysightHelpText.showAsDialogBox( event, '$sectionId' );"><span class="aui-icon aui-icon-small aui-iconfont-help">Help</span></a>
#end

<section id="$sectionId" role="dialog" class="aui-layer aui-dialog2 aui-dialog2-medium" data-aui-modal="true" aria-hidden="true">

    <!-- Dialog header -->
    <header class="aui-dialog2-header">
        <!-- The dialog's title -->
        <h2 class="aui-dialog2-header-main">$title</h2>
    </header>

    <!-- Main dialog content -->
    <div class="aui-dialog2-content">
    $bodyAsHtml
    </div>

    <!-- Dialog footer -->
    <footer class="aui-dialog2-footer">
        <!-- Actions to render on the right of the footer -->
        <div class="aui-dialog2-footer-actions">
            <button id="dialog-submit-button" class="aui-button aui-button-primary" onclick="keysightHelpText.close();">OK</button>
        </div>
##if( $tip )
        <!-- Hint text is rendered on the left of the footer -->
        <div class="aui-dialog2-footer-hint">$!tip</div>
##endif
    </footer>
</section>
